<div id="map"></div>
<!--<svg id='themarker' class="marker" xmlns="http://www.w3.org/2000/svg" version="1.1">
	<circle cx="5" cy="5" r="5" />
</svg>-->
<div class="overtable" id="cellevents">
	<table class="table">
		<thead>
		<th>que</th>
		<th>dia</th>
		<th>hora</th>
		<th>donde</th>
		<th></th>
		</thead>
		<tbody>
			<tr>
				<td>
				{{view Ember.TextField valueBinding="newEvent.link" class="input-tiny" id="evLink" placeholder="link"}}
				{{view Ember.TextField valueBinding="newEvent.name" class="input-small" id="evName" placeholder="nombre del evento"}}
				</td>
				
				<!-- date and time -->
				<td><div class="input-append date" id="evDatePick" data-date="{{newEvent.date}}" data-date-format="mm-dd-yyyy">
					<input type="text" size=34 class="input-tiny" value="{{newEvent.date}}" readonly>
					<span class="add-on"><i class="icon-th"></i></span>
				</div></td>
				<td><div class="input-append bootstrap-timepicker-component">
					<input type="text" size="5" class="input-tiny" value="{{newEvent.date}}" id="evTimePick" readonly>
					<span class="add-on"><i class="icon-time"></i></span>
				</div></td>
				<td>{{view Ember.TextField valueBinding="newEvent.loc" class="input-medium" id="evLoc" placeholder="lugar"}}</td>
				<td>
					<div class="btn btn-small" {{action createEvent}}>Add</div>
					<!--<div class="btn btn-small" {{action createVirtualEvent}}>Virtual</div>-->
				</td>
			</tr>
			{{#each Em.App.eventsController}}
			<tr class="evRow" id="row_{{unbound _id}}">
				<td>{{formatLink link}} {{name}}</td>
				<td class="graytd">{{formatDate date}}</td>
				<td class="graytd">{{formatTime date}}</td>
				<td>{{loc}}</td>
				<td><div class="btn btn-mini" {{action removeEvent}}>X</div></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>